/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: > 1%
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

body, html {
  margin: 0;
  padding: 0;
   height:100%;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  background: #1c1f26;
  font-family: "Montserrat", sans-serif;
  font-size: 19pt;
}


*::-moz-selection {
  color: #1c1f26!important;
  background-color:#ffffff;
  text-shadow: none;
}

*::selection {
  color: #1c1f26!important;
  background-color:#ffffff;
  text-shadow: none;
}

.tech-icon,
.social-links {
  user-select: none;
}

p, h1, a {
  text-shadow: 1px 0px 10px #1c1f26;
}

p, a {
  font-weight: 200;
}

h1 {
  font-weight: 400;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


#particles-js, 
#particles-js-mobile{
  width: 110%;
  height: 110%;
  position: absolute;
  background: #1c1f26;
  top: -5%;
  left: -5%;
  z-index: -1;
}

#particles-js-mobile {
  display: none;
}

.main-info,
.addit-contact-info {
  z-index: 0;
}

.main-info {
  min-height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px auto 0;
  text-align: center;
  z-index: 0;
}

.main-info p,
.main-info h1 {
  display: inline-block;
  margin: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 0;
}

.addit-contact-info {
  -ms-grid-row-align: center;
  align-self: center;
  padding: 0 50px;
  margin-bottom: 15px;
}

.addit-contact-info a {
    text-decoration: none;
    font-size: 25px;
}

.main-info h1 {
  font-size: 67px;
}

.main-info p {
  font-size: 24pt;
  margin-top: 30px;
  margin-bottom: auto;
}

a {
  color: rgb(255, 255, 255);
  transition: 0.2s;
  text-decoration: none;
}

a:hover {
  background-color: #616161;
}

ul.social-links {
  padding: 0;
  margin: 0;
  display: inline;
  margin-bottom: 60px;
}

.social-links li {
  display: inline-block;
  margin: 0 15px;
}

.social-links li:nth-child(1) {
  margin-left: 0;
}

.social-links li:nth-last-child(1) {
  margin-right: 0;
}

.social-links a {
  border-bottom: 3px solid rgba(130,152, 187, 0.5);
  padding: 5px 5px 2px;
}

.tech-icon img {
  display: inline-block;
  width: 26pt;
  height: 26pt;
  margin-bottom: -5px;
  margin-left: 5px;
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {
  #particles-js{ 
    display: none;
  }

  #particles-js-mobile {
    display: block;
  }

  .main-info h1 {
    font-size: 120px;
  }
  .main-info p {
    font-size: 75px;
    margin: 50px 0 25%;
  }
  body {
    font-size: 36px;
  }

  .social-links a,
  .addit-contact-info a {
    font-size: 57px;
  }

  .social-links a {
    border-width: 7px;
  }

  .addit-contact-info a::before {
    content: "";
    background-image: url("img/mail-mb.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 28px;
    height: 22px;
    left: -35px;
    top: calc(50% - 8px);
  }
  .tech-icon img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-bottom: -5px;
    margin-left: 5px;
  }
  ul.social-links {
    margin: 0 0 180px;
  }

  .social-links li {
    margin-bottom: 70px;
  }
}

@media only screen 
and (max-device-width : 320px) {
  .social-links a, .addit-contact-info a {
    font-size: 64px;
  }
}


@media only screen 
and (min-device-height : 400px)
and (max-device-height : 570px) {
  .main-info {
    min-height: 400px;
  }
  .main-wrapper {
    height: auto;
  }
}

@media only screen 
and (max-device-height : 400px) {
  body {
    height: auto;
  }
  .main-wrapper {
    height: auto;
    min-height: 430px;
  }

  .main-info {
    min-height: 400px;
  }
}



