:root {
  /* font-family: 'Noto Sans', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Raleway', sans-serif;

  line-height: 1.5em;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-bg-color: #1c1c2a;
  --sec-bg-color: #21212e;
  --main-text-color: #fff;
  --border-color: #2a2c36;
  --basic-link-color: #74d1f3;
  --tone-1: rgba(255, 255, 255, 0.1);
  --tone-2: rgba(225, 238, 240, 0.2);
  --tone-3: rgba(255, 255, 255, 0.3);
  --tone-4: rgba(255, 255, 255, 0.4);
  --tone-5: rgba(255, 255, 255, 0.5);
  --vp-header: 70px;
}

body.lightModeOn {
  --main-bg-color: #f2f5fb;
  --sec-bg-color: #ffffff;
  --main-text-color: #1c1c2a;
  --border-color: #d3dfec;
  --basic-link-color: #087ea4;
  --tone-1: rgba(158, 171, 191, 0.1);
  --tone-2: rgb(157, 198, 243, 0.2);
  --tone-3: rgba(182, 188, 206, 0.3);
  --tone-4: rgba(0, 0, 0, 0.4);
  --tone-5: rgba(0, 0, 0, 0.5);
}

html {
  background-color: #1c1c2a;
}

html.l {
  background-color: #f2f5fb;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

* {
  box-sizing: border-box;
}

h2 {
  display: block;
  font-size: 1.4em;
  margin: 1em 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.25em;
  margin: 0.5em 0;
  font-weight: bold;
}

p {
  margin: 0.7em 0;
  line-height: 175%;
}

a {
  display: inline-block;
  padding: 0 3px;
  margin: 0 2px 0 -2px;
  color: var(--basic-link-color);
  text-decoration: none;

  border-radius: 3px;

  cursor: pointer;
  pointer-events: auto;
}

a:hover {
  background-color: var(--tone-2);
}

button {
  cursor: pointer;
  color: inherit;
  font: inherit;
  line-height: 140%;
  user-select: none;
  transition: outline 0.1s ease-in-out;
  outline: 0px;
}

a:focus,
button:focus {
  outline: 3px solid var(--tone-3);
}

img,
svg,
a>* {
  pointer-events: none;
  user-select: none;
}

[aria-hidden="true"] { visibility: hidden; }
svg[aria-hidden="true"] { visibility: visible; }

.app_content {
  padding: 0 40px;
}

.content_wrapper {
  max-width: 880px;
  margin: 0 auto;
}


.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--vp-header);
}

a.active_lang {
  pointer-events: none;
  font-weight: 400;
  color: var(--text-color-contrast);
}


.header__lang-btn {
  padding: 5px 10px;
  height: 40px;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}


.header__lang-btn img {
  width: 18px;
  height: auto;
  margin-right: 5px;
}

.header__theme-btn {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  padding: 0;
}

.header__theme-btn svg {
  display: block;
  font-size: 19px;
  width: 19px;
  height: 19px;
  line-height: 19px;
}


.header button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 36px;
  border: none;
  border: 1px solid var(--tone-1);
  background-color: transparent;
  border-radius: 4px;
}

.header button:hover {
  background-color: var(--tone-1);
}

.modal_l03 {
  background-color: var(--sec-bg-color);
  border-radius: 3px;
  border: 1px solid var(--border-color);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.hero_l2 {
  order: -1;
}

.hero_l1 {
  padding-top: 1em;
}

.hero_block__1 {
  max-width: 500px;
}

.hero_pfp {
  width: 150px;
  height: 150px;
  background-color: var(--tone-3);
  user-select: none;
  pointer-events: none;
}

.hero_pfp img {
  width: 92%;
  height: 92%;
  margin: 4%;
}

.hero_pfp,
.hero_pfp img {
  border-radius: 50%;
}

.hero__title {
  font-size: 1.5rem;
  line-height: 150%;
  margin: 0 0 1rem;
}

.hero__desc {
  font-size: 1rem;
  line-height: 160%;
  font-weight: 400;
  margin: 0 0 25px;
}

.hero_l1 {
  text-align: center;
}

.hero_socials h2 {
  font-size: 0.87rem;
  font-weight: 500;
  opacity: 0.5;
  margin: 0 0 3px;
}

.hero_socials a {
  display: inline-block;
  margin-right: 5px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  width: 36px;
  height: 36px;
  text-align: center;
}

.hero_socials a:nth-last-child(1) {
  margin-right: 0;
}

.hero_socials svg {
  display: block;
  font-size: 28px;
  width: 28px;
  height: 28px;
  margin: 4px auto;
  transform: translateX(-0.5px);

}

.hero_socials__links a {
  position: relative;
}

.projects {
  padding-top: 40px;
}

.projects__item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 50px;
}

.projects__img {
  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 490px;
  margin: -2px -2px 20px;

  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-sizing: content-box;
}

.projects__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.projects__title {
  margin-top: 0;
}

.section__title {
  user-select: none;
}

.projects__seemore {
  font-size: 1.1rem;
  margin-top: 15px;
}

.projects__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 30px;
  border-top: 1px solid var(--border-color);
}

.projects__seemore {
  display: flex;
  align-items: center;
  line-height: 140%;
  font-size: 1.1rem;
  margin: 15px 0 0;
}

.projects__seemore svg {
  margin-left: 6px;
  font-size: 0.95em;
}

.skills__content {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
}

.skills__item {
  max-width: 103px;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: visible;
  transition: transform 0.3s ease;
}

.skills__item_content {
  padding-bottom: 100%;

  background-color: var(--main-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 14px;

  box-sizing: border-box;


  pointer-events: none;
  user-select: none;
}


.skills__item:hover {
  transform: scale(1.1) !important;
}


/* .projects_init .skills__item {
  animation: skill_appear_l3 0.3s ease-in-out both;
}

@keyframes skill_appear_l3 {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.skills__item:nth-child(1) { animation-delay: 0.3s;}
.skills__item:nth-child(2) { animation-delay: 0.4s;}
.skills__item:nth-child(3) { animation-delay: 0.5s;}
.skills__item:nth-child(4) { animation-delay: 0.6s;}
.skills__item:nth-child(5) { animation-delay: 0.7s;}
.skills__item:nth-child(6) { animation-delay: 0.8s;}
.skills__item:nth-child(7) { animation-delay: 0.9s;}
.skills__item:nth-child(8) { animation-delay: 1s;}
.skills__item:nth-child(9) { animation-delay: 1.1s;}
.skills__item:nth-child(10) { animation-delay: 1.2s;}
.skills__item:nth-child(11) { animation-delay: 1.3s;}
.skills__item:nth-child(12) { animation-delay: 1.4s;}
.skills__item:nth-child(13) { animation-delay: 1.5s;}
.skills__item:nth-child(14) { animation-delay: 1.6s;}
.skills__item:nth-child(15) { animation-delay: 1.7s;}
.skills__item:nth-child(16) { animation-delay: 1.8s;}
.skills__item:nth-child(17) { animation-delay: 1.9s;}
.skills__item:nth-child(18) { animation-delay: 2s;}
.skills__item:nth-child(19) { animation-delay: 2.1s;}
.skills__item:nth-child(20) { animation-delay: 2.2s;}
.skills__item:nth-child(21) { animation-delay: 2.3s;} */


.skills__title {
  font-family: 'Noto Sans', sans-serif;
  display: block;
  position: absolute;
  top: calc(50% + 15px);
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1em;
  font-size: 10px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;

  transition: opacity 0.1s ease-in-out, top 0.14s ease-in-out;
  z-index: 1;
}

.skills__icon {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  height: 44%;
  max-height: 44px;
  transform: translateY(-50%);

  transition: top 0.17s ease-in-out;
  z-index: 10;
}

.skills__item__bigger .skills__icon {
  height: 58%;
  max-height: 54px;
}

.skills__icon svg {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.skills__item:hover {
  z-index: 40;
}

.skills__item:hover .skills__icon {
  top: calc(50% - 10px);
}

.skills__item:hover .skills__title {
  top: calc(50% + 20px);
  opacity: 1;
}

.project__links span,
.project__links a {
  display: inline-flex;
  align-items: center;

  padding: 1px 6px;
  margin-right: 8px;

  font-size: 1rem;
  cursor: pointer;
}

.project__links .inactive {
  pointer-events: none;
  user-select: none;
  color: #c0c7ce;
}

.project__links svg {
  font-size: 1.04em;
  line-height: 1em;
  margin-right: 4px;
  vertical-align: text-bottom;
}

.project__links a:nth-last-child(1) {
  margin-right: 0;
}