:root {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Roboto', sans-serif; */

  line-height: 1.5em;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #1c1c2a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --main-bg-color: #1c1c2a;
  --main-text-color: #fff;
  --border-color: #333;

}


* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h2 {
  display: block;
  font-size: 1.4em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

a {
  display: inline-block;
  padding: 0 3px;
  margin: 0 2px 0 -2px;
  color: #74d1f3;
  text-decoration: none;

  border-radius: 3px;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

a>* {
  pointer-events: none;
}

.app_content {
  padding: 0 20px;
}

.content_wrapper {
  max-width: 880px;
  margin: 0 auto;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60vh;
  padding-top: 5vh;
}

.hero_l1 {
  padding-top: 1em;
}

.hero_block__1 {
  max-width: 500px;
}

.hero_pfp {
  width: 230px;
  height: 230px;
  background-color: rgba(255, 255, 255, 0.3);
  user-select: none;
  pointer-events: none;
}

.hero_pfp img {
  width: 92%;
  height: 92%;
  margin: 4%;
}

.hero_pfp,
.hero_pfp img {
  border-radius: 50%;
}

.hero__title {
  font-size: 1.8rem;
  line-height: 150%;
  margin: 0 0 1rem;
}

.hero__desc {
  font-size: 1rem;
  line-height: 160%;
  font-weight: 400;
  margin: 0 0 20px;
}

.hero_socials h2 {
  font-size: 0.87rem;
  font-weight: 500;
  opacity: 0.5;
  margin: 0 0 3px;
}

.hero_socials a {
  display: inline-block;
  margin-right: 5px;
  font-size: 0;
  line-height: 0;
  width: 36px;
  height: 36px;
}

.hero_socials a:nth-last-child(1) {
  margin-right: 0;
}

.hero_socials svg {
  display: block;
  font-size: 28px;
  width: 28px;
  height: 28px;
  margin: 4px auto;

}

.hero_socials__links a {
  position: relative;
}

.hero_socials__links a::before {
  content: attr(data-title);
  position: absolute;
  top: 100%;
  left: 0;
  margin: 2px 0 0;
  display: block;
  padding: 5px;
  font-size: 0.92rem;
  line-height: 100%;

  color: #ffffff;
  border-radius: 2px;
  border: 1px solid #e3e3e3;
  background-color: var(--main-bg-color);
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

.hero_socials__links a:hover::before {
  opacity: 1;
}

.projects {
  padding-top: 40px;
}

.projects__item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 25px;
}

.projects__img {
  flex: 0 1 490px;
  max-width: 40%;
  height: 190px;
  margin-right: 20px;

  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.projects__title {
  margin-top: 0;
}

.section__title {
  user-select: none;
}

.projects__seemore {
  font-size: 1.15rem;
  margin-top: 15px;
}

.projects__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 30px;
  border-top: 1px solid var(--border-color);
}

.projects__seemore {
  display: flex;
  align-items: center;
  line-height: 140%;
  font-size: 1.15rem;
  margin: 15px 0 0;
}

.projects__seemore svg {
  margin-left: 6px;
  font-size: 0.95em;
}

.skills__content {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
}

.skills__item {
  max-width: 103px;
  position: relative;
  border-radius: 14px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid var(--border-color);
  transition: transform 0.1s ease-in-out;
}

.skills__item_content {
  padding-bottom: 100%;
}

.skills__title {
  font-family: 'Noto Sans', sans-serif;
  display: block;
  position: absolute;
  top: calc(50% + 15px);
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1em;
  font-size: 11.5px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;

  transition: opacity 0.1s ease-in-out, top 0.14s ease-in-out;
  z-index: 1;
}

.skills__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 44%;
  max-height: 44px;
  transform: translate(-50%, -50%);

  transition: top 0.17s ease-in-out;
  z-index: 10;
}

.skills__item__bigger .skills__icon {
  height: 54%;
  max-height: 54px;
}

.skills__icon svg {
  width: auto;
  height: 100%;
}

.skills__item:hover {
  transform: scale(1.15);
}

.skills__item:hover .skills__icon {
  top: calc(50% - 10px);
}

.skills__item:hover .skills__title {
  top: calc(50% + 25px);
  opacity: 1;
}