@media only screen and (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 57vh;
    padding-top: 5vh;
  }

  .hero_l2 {
    order: 0;
  }

  .hero_l1 {
    text-align: left;
  }

  .hero_pfp {
    width: 230px;
    height: 230px;
  }

  .hero__title {
    font-size: 1.8rem;
  }

  .hero_socials__links a::before {
    content: attr(data-title);
    position: absolute;
    top: 100%;
    left: 0;
    margin: 2px 0 0;
    display: block;
    padding: 5px;
    font-size: 0.92rem;
    line-height: 100%;
  
    color: var(--main-text-color);
    border-radius: 2px;
    border: 1px solid #e3e3e3;
    background-color: var(--main-bg-color);
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
  }
  
  .hero_socials__links a:hover::before {
    opacity: 1;
  }

  .skills__content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(82px, 1fr));
  }
  .skills__item:hover {
    transform: scale(1.15);
  }
  
  .skills__item:hover .skills__icon {
    top: calc(50% - 10px);
  }
  
  .skills__item:hover .skills__title {
    top: calc(50% + 25px);
    opacity: 1;
  }

  .skills__title { 
    font-size: 11.5px;
  }

  .projects__item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 25px;
}

.projects__img {
  flex: 0 1 490px;
  max-width: 40%;
  height: 190px;
  margin-right: 20px;

  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
}

@media only screen and (max-width: 425px) {
  .app_content {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 320px) {
  :root {
    font-size: 14px;
  }
  .app_content {
    padding: 0 15px;
  }

  .hero {
    padding-top: 10px;
  }

  .hero_pfp {
    width: 80px;
    height: 80px;
  }

  .hero__desc {
    margin: 0 0 15px;
  }

  .skills__content {
    grid-gap: 5px;
  }

  .projects {
    padding-top: 20px;
}
}