@media only screen and (min-width: 768px) {
  h3 {
    display: block;
    font-size: 1.11em;
  }
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 57vh;
    padding-top: 5vh;
  }

  .hero__desc {
    line-height: 180%;
  }

  .hero_l2 {
    order: 0;
  }

  .hero_l1 {
    text-align: left;
  }

  .hero_pfp {
    width: 240px;
    height: 240px;
  }

  .hero__title {
    font-size: 1.8rem;
  }

  .hero_socials__links a::before {
    content: attr(data-title);
    position: absolute;
    top: 100%;
    left: 0;
    margin: 2px 0 0;
    display: block;
    padding: 6px;
    font-size: 0.92rem;
    line-height: 100%;

    color: var(--main-text-color);
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    background-color: var(--main-bg-color);
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
  }

  .hero_socials__links a:hover::before {
    opacity: 1;
  }

  .skills__title {
    font-size: 0.86rem;
    font-weight: 500;
  }

  .projects__item {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    margin-bottom: 46px;
    
  }

  .projects__img {
    max-width: 38%;
    margin: -2px 23px -2px -2px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-radius: 5px;
  }

  .projects__img,
  .projects__group {
    flex: 1;
  }

  .projects__group {
    display: flex;
    flex-direction: column;
  }

  .projects__title {
    margin: 2px 0 0;
  }

  .project__links {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .project__links a {
    font-size: 0.95rem;
  }

}

@media only screen and (max-width: 425px) {
  .app_content {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 320px) {
  :root {
    font-size: 14px;
    --vp-header: 65px;
  }

  .app_content {
    padding: 0 12px;
  }

  .hero {
    padding-top: 10px;
  }

  .hero_pfp {
    width: 80px;
    height: 80px;
  }

  .hero__desc {
    margin: 0 0 15px;
  }

  .skills__content {
    grid-gap: 8px;
  }

  .projects {
    padding-top: 20px;
  }

  .skills__icon {
    height: 50%;
    max-height: 33px;
  }

  .skills__item {
    border-radius: 10px;
  }
}