@media only screen and (min-width: 768px) {
  h3 {
    display: block;
    font-size: 1.45em;
  }

  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 50vh;
    padding-top: 5vh;
  }

  .hero__desc {
    line-height: 165%;
  }

  .hero_l2 {
    order: 0;
    margin-bottom: 20px;
  }

  .hero_l1 {
    text-align: left;
    max-width: 580px;
  }

  .hero_pfp {
    width: 222px;
    height: 222px;
    margin-right: 0.5vw;
  }

  /* .hero_pfp {
    border-radius: 40px;
  }

  .hero_pfp img {
    border-radius: 36px;
    width: 94%;
    height: 94%;
    margin: 3%;
  } */

  .hero__title {
    font-size: 1.76rem;
  }


  .hero_socials__links>a::before {
    content: attr(data-title);
    position: absolute;
    top: 100%;
    left: 0;
    margin: 2px 0 0;
    display: block;
    padding: 8px;
    font-size: 0.92rem;
    line-height: 100%;

    color: var(--main-text-color);
    border-radius: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--sec-bg-color);
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: transform 120ms ease;
  }


  .hero_socials__links>button,
  .hero_socials__links>a:hover::before {
    opacity: 1;
    transform: translateY(0);
  }

  .skills__title {
    font-size: 0.86rem;
    font-weight: 500;
  }

  .projects__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .projects__img {
    max-width: 320px;
    margin: 0px 10px -2px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-radius: 6px;
  }

  .projects__img,
  .projects__group {
    flex: 1;
  }

  .projects__group {
    display: flex;
    flex-direction: column;
    padding: 0 0.5em 0 0;
  }

  .projects__title {
    margin: 4px 0 6px;
  }

  .project__links {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .project__links a {
    font-size: 0.95rem;
  }

  .skills__item {
    flex: 1 0 auto;
    justify-content: space-around;
    margin: 0 12px 12px 0;
    border-radius: 8px;
    padding: 8px 10px;
    max-width: 140px;
  }

  .skills__item__sm {
    max-width: 136px;
  }

  .skills__content {
    margin-right: -12px;
  }

  .projects__img {
    margin-right: 0;
  }

  .hero_block__1 {
    padding-right: 20px;
  }

}

@media only screen and (max-width: 425px) {
  .app_content {
    padding: 0 20px;
  }

  .skills__content {
    justify-content: center;
  }

  body .skills__item {
    padding: 10px 9px;
    margin: 0 8px 9px 0;
    max-width: 136px;
    flex: 1;
  }

  .skills__title {
    font-size: 0.9rem;
  }

  .skills__icon {
    height: 34px;
  }
}

@media only screen and (min-width: 425px) {
  .hero__title {
    margin: 0 0 1rem;
    max-width: unset;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  body .hero_socials__dropdown {
    bottom: 100%;
    right: 0;
    left: unset;
    top: unset;
    max-width: 300px;
    min-width: 200px;
  }

  .hero_socials__dropdown a,
  .hero_socials__dropdown button {
    height: 50px;
    line-height: 50px;
    font-size: 0.9rem;
  }
}


@media only screen and (max-width: 425px) {
  body .hero_socials__dropdown {
    position: fixed;
    left: calc(50% - min(47vw, 150px));
    top: calc(50% - 50px);
    bottom: unset;
    right: unset;
    width: 94vw;
    max-width: 300px;
    z-index: 100;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgb(14 14 132 / 5%) 0px 0px 0px 1px, rgb(43 89 152 / 5%) 0px 10px 15px -3px, rgb(82 82 185 / 5%) 0px 4px 6px -4px;
  }

  .hero_socials__dropdown a,
  .hero_socials__dropdown button {
    height: 45px;
    line-height: 45px;
    font-size: 0.9rem;
  }

  .hero_socials__dropdown>*,
  .hero_socials__dropdown {
    transition: 120ms ease 20ms;
  }


  body .hero_socials__embtn:focus+.hero_socials__dropdown>*,
  body .hero_socials__embtn:focus+.hero_socials__dropdown>*,
  body .hero_socials__embtn:focus+.hero_socials__dropdown {
    opacity: 1;
    pointer-events: all !important;
    user-select: auto !important;
    z-index: 10;
    transform: translateY(0px);
    transition: transform 120ms ease;
  }
}

@media only screen and (max-width: 320px) {
  :root {
    font-size: 14px;
    --vp-header: 65px;
  }

  .app_content {
    padding: 0 12px;
  }

  .hero {
    padding-top: 10px;
  }

  .hero_pfp {
    width: 110px;
    height: 110px;
  }

  .hero__desc {
    margin: 0 0 15px;
  }

  .projects {
    padding-top: 20px;
  }

  .skills__item {
    border-radius: 10px;
  }

  .skills__item {
    padding: 10px;
  }
}

@media only screen and (max-width: 300px) {
  .skills__item {
    flex: 1 0 40%;
    padding: 10px;
  }
}

@media only screen and (max-height: 480px) {
  .hero_socials__dropdown {
    bottom: 100%;
    top: unset;
    right: 0;
    left: unset;
  }
}